apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: ha-soranu
spec:
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ha-soranu/auth-service
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"
          ports:
            - containerPort: 50051

          # Load all env variables from K8s
          envFrom:
            - configMapRef:
                name: auth-service-config
            - secretRef:
                name: auth-service-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: ha-soranu
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
