apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: ha-soranu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: ha-soranu/notification-service
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"
          ports:
            - containerPort: 50053

          # Load all env variables from K8s
          envFrom:
            - configMapRef:
                name: notification-service-config
            - secretRef:
                name: notification-service-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: ha-soranu
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: grpc
      port: 50053
      targetPort: 50053
