apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: ha-soranu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: ha-soranu/payment-service
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"
          ports:
            - name: grpc
              containerPort: 9090
            - name: http
              containerPort: 8081
          envFrom:
            - configMapRef:
                name: payment-service-config
            - secretRef:
                name: payment-service-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: ha-soranu
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
    - name: grpc
      port: 9090
      targetPort: 9090
    - name: http
      port: 8081
      targetPort: 8081
