version: "3.8"

services:
  review-service:
build: .
container_name: review-service
ports:
  - "8080:8080"
  - "9090:9090"
env_file:
  - .env
depends_on:
  - postgres
  - redis

  postgres:
image: postgres:15
environment:
  POSTGRES_USER: user
  POSTGRES_PASSWORD: password
  POSTGRES_DB: review-service_db
ports:
  - "5432:5432"

  redis:
image: redis:7
ports:
  - "6379:6379"
